@{
    ViewData["Title"] = "Home Page";
}
@model List<Project01.Models.Product>

@* @foreach (Product cat in Model)
{

    <div class="product_box">
        <h3>@cat.Name</h3>
        <a href="/Product/Detail/@cat.Id"><img src="~/assets/images/product/@cat.ImagePath" alt="@cat.Name" /></a>
        <p class="product_price">$ 80</p>
        <p>@Html.Raw(cat.Description)</p>
        <a href="shoppingcart.html" class="addtocart"></a>
        <a href="/Product/Detail/@cat.Id" class="detail"></a>
    </div>
}

<div class="cleaner"></div>
 *@
<partial name="_Index" model="Model" />